---
import '../../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import { SidebarLayout } from '../../components/sidebar-layout';
import { RecaudacionReporteDiarioAcumuladoExperimental } from '../../components/ui/recaudacion-reporte-diario-acumulado-experimental';
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/cropped-isotipo-32x32.webp" />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
		<title>Recaudación Diario Acumulado (Experimental) - Sistema Peajes</title>
	</head>

	<body class="bg-background text-foreground antialiased">
		<SidebarLayout transition:persist
			client:load
			title="Recaudación Diario Acumulado (Experimental)"
			description="Reporte diario acumulado por fecha"
		>
			<RecaudacionReporteDiarioAcumuladoExperimental client:load />
		</SidebarLayout>
	</body>
</html>

