# Base URLs para el Frontend
PUBLIC_BASE_URL="http://localhost:3000"
PUBLIC_V2_API_BASE_URL="http://localhost:3000"
PUBLIC_RESCATE_VIAL_API_URL="http://localhost:8000/api/v1"

# Variables opcionales para producción / proxy
CORS_ORIGIN="http://localhost:4321,https://tu-dominio.com"
COOKIE_DOMAIN="localhost"
