---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import { ChartCabinas } from '../components/ui/chart-cabinas';
import { SidebarLayout } from '../components/sidebar-layout';
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/webp" href="/cropped-isotipo-32x32.webp" />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
		<title>Análisis de Cabinas - Sistema Peajes</title>
	</head>

	<body class="bg-background text-foreground antialiased">
		<SidebarLayout transition:persist 
			client:load
			title="Análisis de Cabinas"
			description="Análisis detallado de tráfico y rendimiento"
		>
			<ChartCabinas client:load />
		</SidebarLayout>
	</body>
</html>

