---
import '../styles/global.css';
import { ChartCabinas } from '../components/ui/chart-cabinas';
import { SidebarLayout } from '../components/sidebar-layout';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/webp" href="/cropped-isotipo-32x32.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>An치lisis de Cabinas - Sistema Peajes</title>
	</head>

	<body class="bg-background text-foreground antialiased">
		<SidebarLayout 
			client:load
			title="An치lisis de Cabinas"
			description="An치lisis detallado de tr치fico y rendimiento"
		>
			<ChartCabinas client:load />
		</SidebarLayout>
	</body>
</html>
